In [1]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pulp
from pulp import LpProblem, LpMaximize, LpVariable, lpSum

In [2]:
bulls = pd.read_csv('../data/bulls.csv')
cows = pd.read_csv('../data/cows.csv')
pedigree = pd.read_csv('../data/pedigree.csv')

In [3]:
imputer = KNNImputer(n_neighbors=3)
missing_ebv = imputer.fit_transform(bulls[['ebv', 'descendants_count']])
mask = bulls['ebv'].isna()
bulls.loc[mask, 'ebv'] = missing_ebv[mask.values, 0]

In [4]:
cows['ebv'] = cows['ebv'].fillna(cows['ebv'].median())

In [5]:
cows

                  id     ebv
0      RU00000090385   266.5
1      DE00000090396   419.9
2      NL00000090422  -582.8
3      GB00000090437   443.8
4      DE00000090443   173.3
...              ...     ...
17172  DE00000051612   419.9
17173  FR00000048066    73.4
17174  RU00000048290   137.7
17175  US00000013052  1080.2
17176  DE00000048341  -255.5

[17177 rows x 2 columns]

In [6]:
pedigree["mother_id"] = pedigree["mother_id"].where(pedigree["mother_id"].notna(), None)
pedigree["father_id"] = pedigree["father_id"].where(pedigree["father_id"].notna(), None)

In [7]:
from functools import lru_cache

# Словари mother и father: id → parent_id или None
mother = dict(zip(pedigree.id, pedigree.mother_id))
father = dict(zip(pedigree.id, pedigree.father_id))

In [8]:
@lru_cache(maxsize=None)
def kin(i: str, j: str) -> float:
    """Коэффициент родства φ(i,j)."""
    if i is None or j is None:
        return 0.0
    if i == j:
        # Пример: считаем, что в файле нет инбридинга, так что φ(ii)=0.5
        return 0.5
    mj = mother.get(j)
    fj = father.get(j)
    return 0.5 * (kin(i, mj) + kin(i, fj))

In [9]:
MAX_KINSHIP = 0.05
MAX_BULL_USAGE = int(len(cows) * 0.1)

# Предварительно создаём списки EBV
# Для быков
bulls['ebv'] = pd.to_numeric(bulls['ebv'], errors='coerce')  # нечисловые → NaN
bulls = bulls.dropna(subset=['ebv']).reset_index(drop=True)

In [10]:
bulls

               id  descendants_count          ebv
0   FR00000000479                476   690.700000
1   NL00000001842                325  -597.600000
2   US00000003013                436  1528.600000
3   US00000001653               1097  1193.200000
4   DE00000001742                496  1510.600000
5   GB00000002348                522  1315.300000
6   US00000002804                355  1444.300000
7   FR00000002912               1250  1238.700000
8   DE00000003760                369  1138.500000
9   DE00000003486                472  1085.500000
10  FR00000003214                 39  -475.500000
11  RU00000003147                 50   824.900000
12  RU00000002534                 41   475.400000
13  NL00000003091                208   539.000000
14  GB00000002585                  2  1173.900000
15  GB00000002899                 15   534.900000
16  RU00000002787                 52   -13.000000
17  US00000003507                 84  1782.900000
18  US00000000795                299  1867.900000
19  US00000003459                 51  1506.600000
20  NL00000051437                157   772.500000
21  FR00000051194                221   346.600000
22  RU00000051449                235   324.900000
23  NL00000050889                275   650.700000
24  GB00000051000                183  -432.400000
25  NL00000051057                219   -11.800000
26  FR00000051052                263   -40.100000
27  FR00000051087                266    23.000000
28  US00000051108                151   477.000000
29  US00000051455                217   489.800000
30  GB00000052082                  3   302.866667
31  DE00000080214                  1   704.200000
32  GB00000051128                106     0.900000
33  RU00000051274                  1  -324.600000
34  DE00000073683                  1  -969.500000
35  GB00000064975                  1 -1252.200000
36  NL00000050449                  7 -1305.200000
37  NL00000060143                  1  -656.600000
38  NL00000050788                  1   691.900000

In [11]:
# Для коров
cows['ebv'] = pd.to_numeric(cows['ebv'], errors='coerce')

In [12]:
cows = cows.dropna(subset=['ebv']).reset_index(drop=True)
# При этом словари EBV:
bull_ebv = bulls.set_index("id")["ebv"].to_dict()
cow_ebv  = cows.set_index("id")["ebv"].to_dict()

In [13]:
# Собираем список допустимых пар (cow_id, bull_id, expected_ebv)
from math import isfinite

valid_pairs = []
for cow_id in cows["id"]:
    for bull_id in bulls["id"]:
        # Родственное ограничение
        if kin(cow_id, bull_id) <= MAX_KINSHIP:
            e = (cow_ebv[cow_id] + bull_ebv[bull_id]) / 2
            # Добавляем только конечные, не NaN и не inf
            if isfinite(e):
                valid_pairs.append((cow_id, bull_id, e))

In [14]:
valid_pairs

[('RU00000090385', 'FR00000000479', 478.6),
 ('RU00000090385', 'NL00000001842', -165.55),
 ('RU00000090385', 'US00000003013', 897.55),
 ('RU00000090385', 'US00000001653', 729.85),
 ('RU00000090385', 'DE00000001742', 888.55),
 ('RU00000090385', 'GB00000002348', 790.9),
 ('RU00000090385', 'US00000002804', 855.4),
 ('RU00000090385', 'FR00000002912', 752.6),
 ('RU00000090385', 'DE00000003760', 702.5),
 ('RU00000090385', 'DE00000003486', 676.0),
 ('RU00000090385', 'FR00000003214', -104.5),
 ('RU00000090385', 'RU00000003147', 545.7),
 ('RU00000090385', 'RU00000002534', 370.95),
 ('RU00000090385', 'NL00000003091', 402.75),
 ('RU00000090385', 'GB00000002585', 720.2),
 ('RU00000090385', 'GB00000002899', 400.7),
 ('RU00000090385', 'RU00000002787', 126.75),
 ('RU00000090385', 'US00000003507', 1024.7),
 ('RU00000090385', 'US00000000795', 1067.2),
 ('RU00000090385', 'US00000003459', 886.55),
 ('RU00000090385', 'NL00000051437', 519.5),
 ('RU00000090385', 'FR00000051194', 306.55),
 ('RU00000090385', 'RU00000051449', 295.7),
 ('RU00000090385', 'NL00000050889', 458.6),
 ('RU00000090385', 'GB00000051000', -82.94999999999999),
 ('RU00000090385', 'NL00000051057', 127.35),
 ('RU00000090385', 'FR00000051052', 113.2),
 ('RU00000090385', 'FR00000051087', 144.75),
 ('RU00000090385', 'US00000051108', 371.75),
 ('RU00000090385', 'US00000051455', 378.15),
 ('RU00000090385', 'GB00000052082', 284.6833333333334),
 ('RU00000090385', 'DE00000080214', 485.35),
 ('RU00000090385', 'GB00000051128', 133.7),
 ('RU00000090385', 'RU00000051274', -29.05000000000001),
 ('RU00000090385', 'DE00000073683', -351.5),
 ('RU00000090385', 'GB00000064975', -492.85),
 ('RU00000090385', 'NL00000050449', -519.35),
 ('RU00000090385', 'NL00000060143', -195.05),
 ('RU00000090385', 'NL00000050788', 479.2),
 ('DE00000090396', 'FR00000000479', 555.3),
 ('DE00000090396', 'NL00000001842', -88.85000000000002),
 ('DE00000090396', 'US00000003013', 974.25),
 ('DE00000090396', 'US00000001653', 806.55),
 ('DE00000090396', 'DE00000001742', 965.25),
 ('DE00000090396', 'GB00000002348', 867.5999999999999),
 ('DE00000090396', 'US00000002804', 932.0999999999999),
 ('DE00000090396', 'FR00000002912', 829.3),
 ('DE00000090396', 'DE00000003760', 779.2),
 ('DE00000090396', 'DE00000003486', 752.7),
 ('DE00000090396', 'FR00000003214', -27.80000000000001),
 ('DE00000090396', 'RU00000003147', 622.4),
 ('DE00000090396', 'RU00000002534', 447.65),
 ('DE00000090396', 'NL00000003091', 479.45),
 ('DE00000090396', 'GB00000002585', 796.9000000000001),
 ('DE00000090396', 'GB00000002899', 477.4),
 ('DE00000090396', 'RU00000002787', 203.45),
 ('DE00000090396', 'US00000003507', 1101.4),
 ('DE00000090396', 'US00000000795', 1143.9),
 ('DE00000090396', 'US00000003459', 963.25),
 ('DE00000090396', 'NL00000051437', 596.2),
 ('DE00000090396', 'FR00000051194', 383.25),
 ('DE00000090396', 'RU00000051449', 372.4),
 ('DE00000090396', 'NL00000050889', 535.3),
 ('DE00000090396', 'GB00000051000', -6.25),
 ('DE00000090396', 'NL00000051057', 204.04999999999998),
 ('DE00000090396', 'FR00000051052', 189.89999999999998),
 ('DE00000090396', 'FR00000051087', 221.45),
 ('DE00000090396', 'US00000051108', 448.45),
 ('DE00000090396', 'US00000051455', 454.85),
 ('DE00000090396', 'GB00000052082', 361.3833333333333),
 ('DE00000090396', 'DE00000080214', 562.05),
 ('DE00000090396', 'GB00000051128', 210.39999999999998),
 ('DE00000090396', 'RU00000051274', 47.64999999999998),
 ('DE00000090396', 'DE00000073683', -274.8),
 ('DE00000090396', 'GB00000064975', -416.15000000000003),
 ('DE00000090396', 'NL00000050449', -442.65000000000003),
 ('DE00000090396', 'NL00000060143', -118.35000000000002),
 ('DE00000090396', 'NL00000050788', 555.9),
 ('NL00000090422', 'FR00000000479', 53.950000000000045),
 ('NL00000090422', 'NL00000001842', -590.2),
 ('NL00000090422', 'US00000003013', 472.9),
 ('NL00000090422', 'US00000001653', 305.20000000000005),
 ('NL00000090422', 'DE00000001742', 463.9),
 ('NL00000090422', 'GB00000002348', 366.25),
 ('NL00000090422', 'US00000002804', 430.75),
 ('NL00000090422', 'FR00000002912', 327.95000000000005),
 ('NL00000090422', 'DE00000003760', 277.85),
 ('NL00000090422', 'DE00000003486', 251.35000000000002),
 ('NL00000090422', 'FR00000003214', -529.15),
 ('NL00000090422', 'RU00000003147', 121.05000000000001),
 ('NL00000090422', 'RU00000002534', -53.69999999999999),
 ('NL00000090422', 'NL00000003091', -21.899999999999977),
 ('NL00000090422', 'GB00000002585', 295.55000000000007),
 ('NL00000090422', 'GB00000002899', -23.94999999999999),
 ('NL00000090422', 'RU00000002787', -297.9),
 ('NL00000090422', 'US00000003507', 600.0500000000001),
 ('NL00000090422', 'US00000000795', 642.5500000000001),
 ('NL00000090422', 'US00000003459', 461.9),
 ('NL00000090422', 'NL00000051437', 94.85000000000002),
 ('NL00000090422', 'FR00000051194', -118.09999999999997),
 ('NL00000090422', 'RU00000051449', -128.95),
 ('NL00000090422', 'NL00000050889', 33.950000000000045),
 ('NL00000090422', 'GB00000051000', -507.59999999999997),
 ('NL00000090422', 'NL00000051057', -297.29999999999995),
 ('NL00000090422', 'FR00000051052', -311.45),
 ('NL00000090422', 'FR00000051087', -279.9),
 ('NL00000090422', 'US00000051108', -52.89999999999998),
 ('NL00000090422', 'US00000051455', -46.49999999999997),
 ('NL00000090422', 'GB00000052082', -139.9666666666666),
 ('NL00000090422', 'DE00000080214', 60.700000000000045),
 ('NL00000090422', 'GB00000051128', -290.95),
 ('NL00000090422', 'RU00000051274', -453.7),
 ('NL00000090422', 'DE00000073683', -776.15),
 ('NL00000090422', 'GB00000064975', -917.5),
 ('NL00000090422', 'NL00000050449', -944.0),
 ('NL00000090422', 'NL00000060143', -619.7),
 ('NL00000090422', 'NL00000050788', 54.55000000000001),
 ('GB00000090437', 'FR00000000479', 567.25),
 ('GB00000090437', 'NL00000001842', -76.9),
 ('GB00000090437', 'US00000003013', 986.1999999999999),
 ('GB00000090437', 'US00000001653', 818.5),
 ('GB00000090437', 'DE00000001742', 977.1999999999999),
 ('GB00000090437', 'GB00000002348', 879.55),
 ('GB00000090437', 'US00000002804', 944.05),
 ('GB00000090437', 'FR00000002912', 841.25),
 ('GB00000090437', 'DE00000003760', 791.15),
 ('GB00000090437', 'DE00000003486', 764.65),
 ('GB00000090437', 'FR00000003214', -15.849999999999994),
 ('GB00000090437', 'RU00000003147', 634.35),
 ('GB00000090437', 'RU00000002534', 459.6),
 ('GB00000090437', 'NL00000003091', 491.4),
 ('GB00000090437', 'GB00000002585', 808.85),
 ('GB00000090437', 'GB00000002899', 489.35),
 ('GB00000090437', 'RU00000002787', 215.4),
 ('GB00000090437', 'US00000003507', 1113.3500000000001),
 ('GB00000090437', 'US00000000795', 1155.8500000000001),
 ('GB00000090437', 'US00000003459', 975.1999999999999),
 ('GB00000090437', 'NL00000051437', 608.15),
 ('GB00000090437', 'FR00000051194', 395.20000000000005),
 ('GB00000090437', 'RU00000051449', 384.35),
 ('GB00000090437', 'NL00000050889', 547.25),
 ('GB00000090437', 'GB00000051000', 5.700000000000017),
 ('GB00000090437', 'NL00000051057', 216.0),
 ('GB00000090437', 'FR00000051052', 201.85),
 ('GB00000090437', 'FR00000051087', 233.4),
 ('GB00000090437', 'US00000051108', 460.4),
 ('GB00000090437', 'US00000051455', 466.8),
 ('GB00000090437', 'GB00000052082', 373.33333333333337),
 ('GB00000090437', 'DE00000080214', 574.0),
 ('GB00000090437', 'GB00000051128', 222.35),
 ('GB00000090437', 'RU00000051274', 59.599999999999994),
 ('GB00000090437', 'DE00000073683', -262.85),
 ('GB00000090437', 'GB00000064975', -404.20000000000005),
 ('GB00000090437', 'NL00000050449', -430.70000000000005),
 ('GB00000090437', 'NL00000060143', -106.4),
 ('GB00000090437', 'NL00000050788', 567.85),
 ('DE00000090443', 'FR00000000479', 432.0),
 ('DE00000090443', 'NL00000001842', -212.15),
 ('DE00000090443', 'US00000003013', 850.9499999999999),
 ('DE00000090443', 'US00000001653', 683.25),
 ('DE00000090443', 'DE00000001742', 841.9499999999999),
 ('DE00000090443', 'GB00000002348', 744.3),
 ('DE00000090443', 'US00000002804', 808.8),
 ('DE00000090443', 'FR00000002912', 706.0),
 ('DE00000090443', 'DE00000003760', 655.9),
 ('DE00000090443', 'DE00000003486', 629.4),
 ('DE00000090443', 'FR00000003214', -151.1),
 ('DE00000090443', 'RU00000003147', 499.1),
 ('DE00000090443', 'RU00000002534', 324.35),
 ('DE00000090443', 'NL00000003091', 356.15),
 ('DE00000090443', 'GB00000002585', 673.6),
 ('DE00000090443', 'GB00000002899', 354.1),
 ('DE00000090443', 'RU00000002787', 80.15),
 ('DE00000090443', 'US00000003507', 978.1),
 ('DE00000090443', 'US00000000795', 1020.6),
 ('DE00000090443', 'US00000003459', 839.9499999999999),
 ('DE00000090443', 'NL00000051437', 472.9),
 ('DE00000090443', 'FR00000051194', 259.95000000000005),
 ('DE00000090443', 'RU00000051449', 249.1),
 ('DE00000090443', 'NL00000050889', 412.0),
 ('DE00000090443', 'GB00000051000', -129.54999999999998),
 ('DE00000090443', 'NL00000051057', 80.75),
 ('DE00000090443', 'FR00000051052', 66.60000000000001),
 ('DE00000090443', 'FR00000051087', 98.15),
 ('DE00000090443', 'US00000051108', 325.15),
 ('DE00000090443', 'US00000051455', 331.55),
 ('DE00000090443', 'GB00000052082', 238.08333333333337),
 ('DE00000090443', 'DE00000080214', 438.75),
 ('DE00000090443', 'GB00000051128', 87.10000000000001),
 ('DE00000090443', 'RU00000051274', -75.65),
 ('DE00000090443', 'DE00000073683', -398.1),
 ('DE00000090443', 'GB00000064975', -539.45),
 ('DE00000090443', 'NL00000050449', -565.95),
 ('DE00000090443', 'NL00000060143', -241.65),
 ('DE00000090443', 'NL00000050788', 432.6),
 ('GB00000090449', 'FR00000000479', 555.3),
 ('GB00000090449', 'NL00000001842', -88.85000000000002),
 ('GB00000090449', 'US00000003013', 974.25),
 ('GB00000090449', 'US00000001653', 806.55),
 ('GB00000090449', 'DE00000001742', 965.25),
 ('GB00000090449', 'GB00000002348', 867.5999999999999),
 ('GB00000090449', 'US00000002804', 932.0999999999999),
 ('GB00000090449', 'FR00000002912', 829.3),
 ('GB00000090449', 'DE00000003760', 779.2),
 ('GB00000090449', 'DE00000003486', 752.7),
 ('GB00000090449', 'FR00000003214', -27.80000000000001),
 ('GB00000090449', 'RU00000003147', 622.4),
 ('GB00000090449', 'RU00000002534', 447.65),
 ('GB00000090449', 'NL00000003091', 479.45),
 ('GB00000090449', 'GB00000002585', 796.9000000000001),
 ('GB00000090449', 'GB00000002899', 477.4),
 ('GB00000090449', 'RU00000002787', 203.45),
 ('GB00000090449', 'US00000003507', 1101.4),
 ('GB00000090449', 'US00000000795', 1143.9),
 ('GB00000090449', 'US00000003459', 963.25),
 ('GB00000090449', 'NL00000051437', 596.2),
 ('GB00000090449', 'FR00000051194', 383.25),
 ('GB00000090449', 'RU00000051449', 372.4),
 ('GB00000090449', 'NL00000050889', 535.3),
 ('GB00000090449', 'GB00000051000', -6.25),
 ('GB00000090449', 'NL00000051057', 204.04999999999998),
 ('GB00000090449', 'FR00000051052', 189.89999999999998),
 ('GB00000090449', 'FR00000051087', 221.45),
 ('GB00000090449', 'US00000051108', 448.45),
 ('GB00000090449', 'US00000051455', 454.85),
 ('GB00000090449', 'GB00000052082', 361.3833333333333),
 ('GB00000090449', 'DE00000080214', 562.05),
 ('GB00000090449', 'GB00000051128', 210.39999999999998),
 ('GB00000090449', 'RU00000051274', 47.64999999999998),
 ('GB00000090449', 'DE00000073683', -274.8),
 ('GB00000090449', 'GB00000064975', -416.15000000000003),
 ('GB00000090449', 'NL00000050449', -442.65000000000003),
 ('GB00000090449', 'NL00000060143', -118.35000000000002),
 ('GB00000090449', 'NL00000050788', 555.9),
 ('DE00000090473', 'FR00000000479', 351.35),
 ('DE00000090473', 'NL00000001842', -292.8),
 ('DE00000090473', 'US00000003013', 770.3),
 ('DE00000090473', 'US00000001653', 602.6),
 ('DE00000090473', 'DE00000001742', 761.3),
 ('DE00000090473', 'GB00000002348', 663.65),
 ('DE00000090473', 'US00000002804', 728.15),
 ('DE00000090473', 'FR00000002912', 625.35),
 ('DE00000090473', 'DE00000003760', 575.25),
 ('DE00000090473', 'DE00000003486', 548.75),
 ('DE00000090473', 'FR00000003214', -231.75),
 ('DE00000090473', 'RU00000003147', 418.45),
 ('DE00000090473', 'RU00000002534', 243.7),
 ('DE00000090473', 'NL00000003091', 275.5),
 ('DE00000090473', 'GB00000002585', 592.95),
 ('DE00000090473', 'GB00000002899', 273.45),
 ('DE00000090473', 'RU00000002787', -0.5),
 ('DE00000090473', 'US00000003507', 897.45),
 ('DE00000090473', 'US00000000795', 939.95),
 ('DE00000090473', 'US00000003459', 759.3),
 ('DE00000090473', 'NL00000051437', 392.25),
 ('DE00000090473', 'FR00000051194', 179.3),
 ('DE00000090473', 'RU00000051449', 168.45),
 ('DE00000090473', 'NL00000050889', 331.35),
 ('DE00000090473', 'GB00000051000', -210.2),
 ('DE00000090473', 'NL00000051057', 0.09999999999999964),
 ('DE00000090473', 'FR00000051052', -14.05),
 ('DE00000090473', 'FR00000051087', 17.5),
 ('DE00000090473', 'US00000051108', 244.5),
 ('DE00000090473', 'US00000051455', 250.9),
 ('DE00000090473', 'GB00000052082', 157.43333333333337),
 ('DE00000090473', 'DE00000080214', 358.1),
 ('DE00000090473', 'GB00000051128', 6.45),
 ('DE00000090473', 'RU00000051274', -156.3),
 ('DE00000090473', 'DE00000073683', -478.75),
 ('DE00000090473', 'GB00000064975', -620.1),
 ('DE00000090473', 'NL00000050449', -646.6),
 ('DE00000090473', 'NL00000060143', -322.3),
 ('DE00000090473', 'NL00000050788', 351.95),
 ('GB00000090485', 'FR00000000479', 555.3),
 ('GB00000090485', 'NL00000001842', -88.85000000000002),
 ('GB00000090485', 'US00000003013', 974.25),
 ('GB00000090485', 'US00000001653', 806.55),
 ('GB00000090485', 'DE00000001742', 965.25),
 ('GB00000090485', 'GB00000002348', 867.5999999999999),
 ('GB00000090485', 'US00000002804', 932.0999999999999),
 ('GB00000090485', 'FR00000002912', 829.3),
 ('GB00000090485', 'DE00000003760', 779.2),
 ('GB00000090485', 'DE00000003486', 752.7),
 ('GB00000090485', 'FR00000003214', -27.80000000000001),
 ('GB00000090485', 'RU00000003147', 622.4),
 ('GB00000090485', 'RU00000002534', 447.65),
 ('GB00000090485', 'NL00000003091', 479.45),
 ('GB00000090485', 'GB00000002585', 796.9000000000001),
 ('GB00000090485', 'GB00000002899', 477.4),
 ('GB00000090485', 'RU00000002787', 203.45),
 ('GB00000090485', 'US00000003507', 1101.4),
 ('GB00000090485', 'US00000000795', 1143.9),
 ('GB00000090485', 'US00000003459', 963.25),
 ('GB00000090485', 'NL00000051437', 596.2),
 ('GB00000090485', 'FR00000051194', 383.25),
 ('GB00000090485', 'RU00000051449', 372.4),
 ('GB00000090485', 'NL00000050889', 535.3),
 ('GB00000090485', 'GB00000051000', -6.25),
 ('GB00000090485', 'NL00000051057', 204.04999999999998),
 ('GB00000090485', 'FR00000051052', 189.89999999999998),
 ('GB00000090485', 'FR00000051087', 221.45),
 ('GB00000090485', 'US00000051108', 448.45),
 ('GB00000090485', 'US00000051455', 454.85),
 ('GB00000090485', 'GB00000052082', 361.3833333333333),
 ('GB00000090485', 'DE00000080214', 562.05),
 ('GB00000090485', 'GB00000051128', 210.39999999999998),
 ('GB00000090485', 'RU00000051274', 47.64999999999998),
 ('GB00000090485', 'DE00000073683', -274.8),
 ('GB00000090485', 'GB00000064975', -416.15000000000003),
 ('GB00000090485', 'NL00000050449', -442.65000000000003),
 ('GB00000090485', 'NL00000060143', -118.35000000000002),
 ('GB00000090485', 'NL00000050788', 555.9),
 ('GB00000090564', 'FR00000000479', 276.3),
 ('GB00000090564', 'NL00000001842', -367.85),
 ('GB00000090564', 'US00000003013', 695.25),
 ('GB00000090564', 'US00000001653', 527.5500000000001),
 ('GB00000090564', 'DE00000001742', 686.25),
 ('GB00000090564', 'GB00000002348', 588.6),
 ('GB00000090564', 'US00000002804', 653.1),
 ('GB00000090564', 'FR00000002912', 550.3000000000001),
 ('GB00000090564', 'DE00000003760', 500.2),
 ('GB00000090564', 'DE00000003486', 473.7),
 ('GB00000090564', 'FR00000003214', -306.8),
 ('GB00000090564', 'RU00000003147', 343.4),
 ('GB00000090564', 'RU00000002534', 168.64999999999998),
 ('GB00000090564', 'NL00000003091', 200.45),
 ('GB00000090564', 'GB00000002585', 517.9000000000001),
 ('GB00000090564', 'GB00000002899', 198.39999999999998),
 ('GB00000090564', 'RU00000002787', -75.55),
 ('GB00000090564', 'US00000003507', 822.4000000000001),
 ('GB00000090564', 'US00000000795', 864.9000000000001),
 ('GB00000090564', 'US00000003459', 684.25),
 ('GB00000090564', 'NL00000051437', 317.2),
 ('GB00000090564', 'FR00000051194', 104.25000000000001),
 ('GB00000090564', 'RU00000051449', 93.39999999999999),
 ('GB00000090564', 'NL00000050889', 256.3),
 ('GB00000090564', 'GB00000051000', -285.25),
 ('GB00000090564', 'NL00000051057', -74.95),
 ('GB00000090564', 'FR00000051052', -89.1),
 ('GB00000090564', 'FR00000051087', -57.55),
 ('GB00000090564', 'US00000051108', 169.45),
 ('GB00000090564', 'US00000051455', 175.85000000000002),
 ('GB00000090564', 'GB00000052082', 82.38333333333337),
 ('GB00000090564', 'DE00000080214', 283.05),
 ('GB00000090564', 'GB00000051128', -68.6),
 ('GB00000090564', 'RU00000051274', -231.35000000000002),
 ('GB00000090564', 'DE00000073683', -553.8),
 ('GB00000090564', 'GB00000064975', -695.15),
 ('GB00000090564', 'NL00000050449', -721.65),
 ('GB00000090564', 'NL00000060143', -397.35),
 ('GB00000090564', 'NL00000050788', 276.9),
 ('FR00000054223', 'FR00000000479', 52.25),
 ('FR00000054223', 'NL00000001842', -591.9000000000001),
 ('FR00000054223', 'US00000003013', 471.19999999999993),
 ('FR00000054223', 'US00000001653', 303.5),
 ('FR00000054223', 'DE00000001742', 462.19999999999993),
 ('FR00000054223', 'GB00000002348', 364.54999999999995),
 ('FR00000054223', 'US00000002804', 429.04999999999995),
 ('FR00000054223', 'FR00000002912', 326.25),
 ('FR00000054223', 'DE00000003760', 276.15),
 ('FR00000054223', 'DE00000003486', 249.64999999999998),
 ('FR00000054223', 'FR00000003214', -530.85),
 ('FR00000054223', 'RU00000003147', 119.34999999999997),
 ('FR00000054223', 'RU00000002534', -55.400000000000034),
 ('FR00000054223', 'NL00000003091', -23.600000000000023),
 ('FR00000054223', 'GB00000002585', 293.85),
 ('FR00000054223', 'GB00000002899', -25.650000000000034),
 ('FR00000054223', 'RU00000002787', -299.6),
 ('FR00000054223', 'US00000003507', 598.35),
 ('FR00000054223', 'US00000000795', 640.85),
 ('FR00000054223', 'US00000003459', 460.19999999999993),
 ('FR00000054223', 'NL00000051437', 93.14999999999998),
 ('FR00000054223', 'FR00000051194', -119.80000000000001),
 ('FR00000054223', 'RU00000051449', -130.65000000000003),
 ('FR00000054223', 'NL00000050889', 32.25),
 ('FR00000054223', 'GB00000051000', -509.3),
 ('FR00000054223', 'NL00000051057', -299.0),
 ('FR00000054223', 'FR00000051052', -313.15000000000003),
 ('FR00000054223', 'FR00000051087', -281.6),
 ('FR00000054223', 'US00000051108', -54.60000000000002),
 ('FR00000054223', 'US00000051455', -48.20000000000002),
 ('FR00000054223', 'GB00000052082', -141.66666666666666),
 ('FR00000054223', 'DE00000080214', 59.0),
 ('FR00000054223', 'GB00000051128', -292.65000000000003),
 ('FR00000054223', 'RU00000051274', -455.40000000000003),
 ('FR00000054223', 'DE00000073683', -777.85),
 ('FR00000054223', 'GB00000064975', -919.2),
 ('FR00000054223', 'NL00000050449', -945.7),
 ('FR00000054223', 'NL00000060143', -621.4000000000001),
 ('FR00000054223', 'NL00000050788', 52.849999999999966),
 ('GB00000090611', 'FR00000000479', 555.3),
 ('GB00000090611', 'NL00000001842', -88.85000000000002),
 ('GB00000090611', 'US00000003013', 974.25),
 ('GB00000090611', 'US00000001653', 806.55),
 ('GB00000090611', 'DE00000001742', 965.25),
 ('GB00000090611', 'GB00000002348', 867.5999999999999),
 ('GB00000090611', 'US00000002804', 932.0999999999999),
 ('GB00000090611', 'FR00000002912', 829.3),
 ('GB00000090611', 'DE00000003760', 779.2),
 ('GB00000090611', 'DE00000003486', 752.7),
 ('GB00000090611', 'FR00000003214', -27.80000000000001),
 ('GB00000090611', 'RU00000003147', 622.4),
 ('GB00000090611', 'RU00000002534', 447.65),
 ('GB00000090611', 'NL00000003091', 479.45),
 ('GB00000090611', 'GB00000002585', 796.9000000000001),
 ('GB00000090611', 'GB00000002899', 477.4),
 ('GB00000090611', 'RU00000002787', 203.45),
 ('GB00000090611', 'US00000003507', 1101.4),
 ('GB00000090611', 'US00000000795', 1143.9),
 ('GB00000090611', 'US00000003459', 963.25),
 ('GB00000090611', 'NL00000051437', 596.2),
 ('GB00000090611', 'FR00000051194', 383.25),
 ('GB00000090611', 'RU00000051449', 372.4),

In [15]:
model1 = pulp.LpProblem("Maximize_EBV", pulp.LpMaximize)
x1 = {(c,b): pulp.LpVariable(f"x1_{c}_{b}", cat="Binary") for c,b,_ in valid_pairs}

# Цель
model1 += pulp.lpSum(x1[(c,b)] * e for c,b,e in valid_pairs)

# Каждая корова — ровно одна пара
for c in cows["id"]:
    model1 += pulp.lpSum(x1[(c,b)] for _,b,e in valid_pairs if _==c) == 1

# Не более 10% коров на быка
for b in bulls["id"]:
    model1 += pulp.lpSum(x1[(c,b)] for c,_,e in valid_pairs if _==b) <= MAX_BULL_USAGE

model1.solve(pulp.PULP_CBC_CMD(msg=False, timeLimit=1800))
opt_total_ebv = pulp.value(model1.objective)

In [ ]:
model2 = pulp.LpProblem("Maximize_Variance", pulp.LpMaximize)
x2 = {(c,b): pulp.LpVariable(f"x2_{c}_{b}", cat="Binary") for c,b,_ in valid_pairs}

# Жёстко фиксируем общий EBV
model2 += pulp.lpSum(x2[(c,b)] * e for c,b,e in valid_pairs) == opt_total_ebv

# Целевая — сумма квадратов
model2 += pulp.lpSum(x2[(c,b)] * (e**2) for c,b,e in valid_pairs)

# Те же ограничения
for c in cows["id"]:
    model2 += pulp.lpSum(x2[(c,b)] for _,b,e in valid_pairs if _==c) == 1
for b in bulls["id"]:
    model2 += pulp.lpSum(x2[(c,b)] for c,_,e in valid_pairs if _==b) <= MAX_BULL_USAGE

model2.solve(pulp.PULP_CBC_CMD(msg=False, timeLimit=1800))

0

In [20]:
assignments = [
    {"cow_id": c, "bull_id": b}
    for (c,b,e) in valid_pairs
    if pulp.value(x2[(c,b)]) > 0.5
]
out = pd.DataFrame(assignments)

In [21]:
out

              cow_id        bull_id
0      RU00000090385  GB00000002348
1      DE00000090396  US00000003459
2      NL00000090422  GB00000002585
3      GB00000090437  US00000003459
4      DE00000090443  FR00000002912
...              ...            ...
17172  DE00000051612  US00000003459
17173  FR00000048066  FR00000002912
17174  RU00000048290  FR00000002912
17175  US00000013052  US00000000795
17176  DE00000048341  US00000001653

[17177 rows x 2 columns]

In [ ]:
out.to_csv("cow_bull_assignments.csv")